*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
:root {
  --color-primary: #252525;
  --color-dark-violet: #2b2d42;
  --color-pink: #fd5070;
  --color-yellow: #f7c2a3;
  --light-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.192);
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  color: var(--color-primary);
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  font-weight: 400;
  background-image: linear-gradient(
    to right,
    var(--color-pink),
    var(--color-yellow)
  );
}

button {
  border: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
  font-family: "Akaya Telivigala", sans-serif;
}

.wrapper {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Form-submit-wrapper {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit {
  background-color: #4c8bf5;
  color: white;
  font-size: 1.6rem;
  padding: 1rem 2rem;
  border-radius: 8px;
  font-family: inherit;
  font-weight: 500;
  font-family: "Akaya Telivigala", sans-serif;
}
.submit:focus,
.submit:active {
  outline: none;
}
